/* WebSite Name: Weather Forecast
   Made by: Ritesh Gorle
   Created: August 2023 
   Content: Weather 
*/


/************* SECTION 01 LIST 1 AND 2  *****************/ 
ul#menu li {
  display:inline;
  padding: 18px;

}


ul#menu2 li {
  display:inline;
  padding: 5px;

}


.text99{
	font-size: 10px;
}

.text88{
	font-size: 16px;
}


.text77{
	font-size: 14px;
}


/************** COL SMALL 3  ****************/
#background{
	background: 	url('	background.PNG');
	background-size:cover ;
	height: 800px;
	border-radius: 40px;
}



/************** LIST 3  ****************/
.degree{
	font-size: 60px;
}



/************** SECTION 2 HEADING  ****************/

.col-sm-9{
	background-color: #cce7ff;
	border-radius: 50px;
	margin-bottom: 70px;
}

.my{

float: right;

}

.time{
	float: right;
}


/************** SECTION 2 UPCOMING HOURS  ****************/
.responsive {
  width: 100%;
  height: auto;
  border-radius: 20px;
}


/************** SECTION 2 TODAYS WEATHER  ****************/
.card{
	border-radius: 20px;
}

